.encabezado{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(49,82,52,1) 100%);
    font-family: sans-serif;
    font-size-adjust: initial;
    text-align: center;
    font-size: 30px;
    border: initial;
    line-height: 2cm;
    color:rgb(255, 250, 255);
}
#nombres{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:x-large;

}


#botonrepo {

    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: linear-gradient(to bottom, #3ecf19 5%, #77a809 100%);
    padding-bottom: 3px;
    border-radius: 6px;
    border: 1px solid #74b807;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528009;
    position: relative;
}