.encabezado{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(49,82,52,1) 100%);
    font-family: sans-serif;
    font-size-adjust: initial;
    text-align: center;
    font-size: 30px;
    border: initial;
    line-height: 2cm;
    color:rgb(255, 250, 255);
}
#nombres{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:x-large;

}